<?xml version="1.0"?>
<launch>
  <node name="nanny_base_link_tf_br" pkg="nanny_bringup" type="nanny_base_link_tf_br" args="/coach_nanny_robot" output="screen"/>
  <node pkg="nanny_bringup" type="nanny_front_laser_tf_br" name="front_laser_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_rear_laser_tf_br" name="rear_laser_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_left_wheel_tf_br" name="left_wheel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_right_wheel_tf_br" name="right_wheel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_front_left_swivel_tf_br" name="front_left_swivel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_front_right_swivel_tf_br" name="front_right_swivel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_front_right_caster_tf_br" name="front_right_caster_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_front_left_caster_tf_br" name="front_left_caster_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_back_left_swivel_tf_br" name="back_swivel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_back_right_swivel_tf_br" name="back_right_swivel_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_back_right_caster_tf_br" name="back_right_caster_broadcaster_frame" />
  <node pkg="nanny_bringup" type="nanny_back_left_caster_tf_br" name="back_left_caster_broadcaster_frame" />

</launch>
